<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <properties>
        <property name="LOG_HOME">D:/log</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.liuhao.cloud" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console" />
<!--            <AppenderRef ref="RollingRandomAccessFile" />-->k
        </Root>
    </Loggers>
</Configuration>